<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip Finder</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<div class="form-container">
    <h1>Trip Finder</h1>
    <form
            th:action="@{/searchByHotel}"
            method="get">
        <label>Hotel:</label>
        <select th:name="hotel">
            <option th:each="hotel:${hotels}" th:value="${hotel.id}" th:text="${hotel.name}"></option>
        </select>
        <br>

        <fieldset>
            <legend>Cena, datum a osoby</legend>
            <label>Nejvyšší cena:</label>
            <input type="text" th:name="maxPrice" value="40000" required/><br>
            <label>Nejnižší cena:</label>
            <input type="text" th:name="minPrice" value="0" required/><br>
            <label>Nejzazší datum:</label>
            <input type="date" th:name="from" value="2025-06-01"/><br>
            <label>Nejpozdější datum:</label>
            <input type="date" th:name="to" value="2025-09-30"/><br>
            <label>Počet osob:</label>
            <input type="text" th:name="persons" value="2" required/><br>
            <label>Minimum dní:</label>
            <input type="text" th:name="minDays" value="4" required/><br>
            <label>Maximum dní:</label>
            <input type="text" th:name="maxDays" value="16" required/>
        </fieldset>

        <fieldset>
            <legend>Letiště</legend>
            <div class="two-columns">
                <div>
                    <label>Vysoká preference:</label><br>
                    <div th:each="airport : ${airports}">
                        <input type="checkbox" th:name="highPrefAirports" th:value="${airport.id}"
                               th:id="${'airport-high-' + airport.id}">
                        <label th:for="${'airport-high-' + airport.id}" th:text="${airport.name}"></label><br>
                    </div>
                </div>
                <div>
                    <label>Mírná preference:</label><br>
                    <div th:each="airport : ${airports}">
                        <input type="checkbox" th:name="prefAirports" th:value="${airport.id}"
                               th:id="${'airport-norm-' + airport.id}">
                        <label th:for="${'airport-norm-' + airport.id}" th:text="${airport.name}"></label><br>
                    </div>
                </div>
            </div>
            <label>Pouze vybrané letiště:</label>
            <select th:name="filterAirports">
                <option value="true">Ano</option>
                <option selected="selected" value="false">Ne</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Stravování</legend>
            <label>All inclusive:</label>
            <select th:name="allInclusivePref">
                <option value="lp">Nízká</option>
                <option selected="selected" value="mp">Střední</option>
                <option value="hp">Vysoká</option>
            </select><br>
            <label>Plná penze:</label>
            <select th:name="fullBoardPref">
                <option value="lp">Nízká</option>
                <option selected="selected" value="mp">Střední</option>
                <option value="hp">Vysoká</option>
            </select><br>
            <label>Polopenze:</label>
            <select th:name="halfBoardPref">
                <option value="lp">Nízká</option>
                <option selected="selected" value="mp">Střední</option>
                <option value="hp">Vysoká</option>
            </select><br>
            <label>Snídaně:</label>
            <select th:name="breakfastPref">
                <option value="lp">Nízká</option>
                <option selected="selected" value="mp">Střední</option>
                <option value="hp">Vysoká</option>
            </select><br>
            <label>Bez stravy:</label>
            <select th:name="noFoodPref">
                <option value="lp">Nízká</option>
                <option selected="selected" value="mp">Střední</option>
                <option value="hp">Vysoká</option>
            </select><br><br>
            <label>Minimální preference stravy:</label>
            <select th:name="minFoodPref">
                <option selected="selected" value="lp">Nízká</option>
                <option value="mp">Střední</option>
                <option value="hp">Vysoká</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Důležitost kritérií</legend>
            <label>Důležitost cena:</label>
            <select th:name="priceImp">
                <option value="il">Nízká</option>
                <option selected="selected" value="im">Střední</option>
                <option value="ih">Vysoká</option>
                <option value="in">Nerozhoduje</option>
            </select>
            <br><br>
            <label>Důležitost letiště:</label>
            <select th:name="airportImp">
                <option value="il">Nízká</option>
                <option selected="selected" value="im">Střední</option>
                <option value="ih">Vysoká</option>
                <option value="in">Nerozhoduje</option>
            </select>
            <br><br>
            <label>Důležitost strava:</label>
            <select th:name="foodImp">
                <option value="il">Nízká</option>
                <option selected="selected" value="im">Střední</option>
                <option value="ih">Vysoká</option>
                <option value="in">Nerozhoduje</option>
            </select>
            <br><br>
            <label>Počet výsledků:</label>
            <input
                    type="text"
                    th:name="limit"
                    value="5"
                    required/>
            <br><br>
            <button type="submit">Hledat</button>
        </fieldset>
    </form>

</div>
</body>
</html>