<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip Finder</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>
<div class="form-container">
    <h1>Trip Finder</h1>
    <form
            th:action="@{/searchFuzz}"
            method="get">
        <fieldset>
            <legend>Cena, datum a osoby</legend>
            <label>Nejvyšší cena:</label>
            <input type="text" th:name="maxPrice" value="40000" required/><br>
            <label>Nejnižší cena:</label>
            <input type="text" th:name="minPrice" value="0" required/><br>
            <label>Nejzazší datum:</label>
            <input type="date" th:name="from" value="2025-06-01"/><br>
            <label>Nejpozdější datum:</label>
            <input type="date" th:name="to" value="2025-09-30"/><br>
            <label>Počet osob:</label>
            <input type="text" th:name="persons" value="2" required/><br>
            <label>Minimum dní:</label>
            <input type="text" th:name="minDays" value="4" required/><br>
            <label>Maximum dní:</label>
            <input type="text" th:name="maxDays" value="16" required/>
        </fieldset>

        <fieldset>
            <legend>Letiště</legend>
            <div class="two-columns">
                <div>
                    <label>Vysoká preference:</label><br>
                    <div th:each="airport : ${airports}">
                        <input type="checkbox" th:name="highPrefAirports" th:value="${airport.id}"
                               th:id="${'airport-high-' + airport.id}">
                        <label th:for="${'airport-high-' + airport.id}" th:text="${airport.name}"></label><br>
                    </div>
                </div>
                <div>
                    <label>Mírná preference:</label><br>
                    <div th:each="airport : ${airports}">
                        <input type="checkbox" th:name="prefAirports" th:value="${airport.id}"
                               th:id="${'airport-norm-' + airport.id}">
                        <label th:for="${'airport-norm-' + airport.id}" th:text="${airport.name}"></label><br>
                    </div>
                </div>
            </div>
            <label>Pouze vybrané letiště:</label>
            <select th:name="filterAirports">
                <option value="true">Ano</option>
                <option selected="selected" value="false">Ne</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Destinace</legend>
            <div class="two-columns">
                <div>
                    <label>Vysoká preference:</label><br>
                    <div th:each="location : ${locations}">
                        <input type="checkbox" th:name="highPrefLocs" th:value="${location.id}"
                               th:id="${'location-high-' + location.id}">
                        <label th:for="${'location-high-' + location.id}" th:text="${location.name}"></label><br>
                    </div>
                </div>
                <div>
                    <label>Mírná preference:</label><br>
                    <div th:each="location : ${locations}">
                        <input type="checkbox" th:name="prefLocs" th:value="${location.id}"
                               th:id="${'location-norm-' + location.id}">
                        <label th:for="${'location-norm-' + location.id}" th:text="${location.name}"></label><br>
                    </div>
                </div>
            </div>
            <label>Pouze vybrané destinace:</label>
            <select th:name="filterLocs">
                <option value="true">Ano</option>
                <option selected="selected" value="false">Ne</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Stravování</legend>
            <label>All inclusive:</label>
            <select th:name="allInclusivePref">
                <option value="1">Nízká</option>
                <option selected="selected" value="2">Střední</option>
                <option value="3">Vysoká</option>
            </select><br>
            <label>Plná penze:</label>
            <select th:name="fullBoardPref">
                <option value="1">Nízká</option>
                <option selected="selected" value="2">Střední</option>
                <option value="3">Vysoká</option>
            </select><br>
            <label>Polopenze:</label>
            <select th:name="halfBoardPref">
                <option value="1">Nízká</option>
                <option selected="selected" value="2">Střední</option>
                <option value="3">Vysoká</option>
            </select><br>
            <label>Snídaně:</label>
            <select th:name="breakfastPref">
                <option value="1">Nízká</option>
                <option selected="selected" value="2">Střední</option>
                <option value="3">Vysoká</option>
            </select><br>
            <label>Bez stravy:</label>
            <select th:name="noFoodPref">
                <option value="1">Nízká</option>
                <option selected="selected" value="2">Střední</option>
                <option value="3">Vysoká</option>
            </select><br><br>
            <label>Minimální preference stravy:</label>
            <select th:name="minFoodPref">
                <option selected="selected" value="1">Nízká</option>
                <option value="2">Střední</option>
                <option value="3">Vysoká</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Hodnocení a vzdálenost</legend>
            <label>Minimální počet hvězdiček:</label>
            <select th:name="minStars">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select><br>
            <label>Minimální hodnocení:</label>
            <select th:name="minRating">
                <option selected="selected" value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select><br>
            <label>Maximální vzdálenost pláže:</label>
            <select th:name="minBeachDist">
                <option th:each="beach_dist:${beach_dists}" th:value="${beach_dist.id}"
                        th:text="${beach_dist.name}"></option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Vybavení hotelu</legend>
            <label>Pouze hotely vhodné pro rodiny:</label>
            <select th:name="familyFilter">
                <option value="true">Ano</option>
                <option selected="selected" value="false">Ne</option>
            </select>
            <br><br>
            <label>Pouze hotely s internetem:</label>
            <select th:name="wifiFilter">
                <option value="true">Ano</option>
                <option selected="selected" value="false">Ne</option>
            </select>
            <br><br>
            <label>Pouze hotely s bazénem:</label>
            <select th:name="poolFilter">
                <option value="true">Ano</option>
                <option selected="selected" value="false">Ne</option>
            </select>
        </fieldset>

        <fieldset>
            <legend>Hledání</legend>
            <label>Počet výsledků:</label>
            <input
                    type="text"
                    th:name="limit"
                    value="5"
                    required/>
            <br><br>
            <label>Pouze jeden výsledek pro hotel:</label>
            <select th:name="hotelDistinct">
                <option selected="selected" value="true">Ano</option>
                <option value="false">Ne</option>
            </select>
            <br><br>
            <button type="submit">Hledat</button>
        </fieldset>
    </form>
</div>
</body>
</html>