<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip Finder</title>
</head>
<body>
<h1>Trip Finder</h1>
<form
        th:action="@{/searchFuzz}"
        method="get">
    <label>Nejvyšší cena:</label>
    <input
            type="text"
            th:name="maxPrice"
            value="40000"
            required/>
    <br>
    <label>Nejnižší cena:</label>
    <input
            type="text"
            th:name="minPrice"
            value="0"
            required/>
    <br><br>
    <select th:name="allInclusivePref">
        <option value="1">Nízká</option>
        <option selected="selected" value="2">Střední</option>
        <option value="3">Vysoká</option>
    </select>
    <br>
    <label>Preference Plná penze</label>
    <select th:name="fullBoardPref">
        <option value="1">Nízká</option>
        <option selected="selected" value="2">Střední</option>
        <option value="3">Vysoká</option>
    </select>
    <br>
    <label>Preference Polopenze</label>
    <select th:name="halfBoardPref">
        <option value="1">Nízká</option>
        <option selected="selected" value="2">Střední</option>
        <option value="3">Vysoká</option>
    </select>
    <br>
    <label>Preference Snídaně</label>
    <select th:name="breakfastPref">
        <option value="1">Nízká</option>
        <option selected="selected" value="2">Střední</option>
        <option value="3">Vysoká</option>
    </select>
    <br>
    <label>Preference Bez stravy</label>
    <select th:name="noFoodPref">
        <option value="1">Nízká</option>
        <option selected="selected" value="2">Střední</option>
        <option value="3">Vysoká</option>
    </select>
    <br><br>
    <label>Letiště vysoká preference</label>
    <div th:each="airport : ${airports}">
        <input type="checkbox" th:name="highPrefAirports" th:value="${airport.id}" th:id="${'airport-' + airport.id}">
        <label th:for="${'airport-' + airport.id}" th:text="${airport.name}"></label>
    </div>
    <br>
    <label>Letiště mírná preference</label>
    <div th:each="airport : ${airports}">
        <input type="checkbox" th:name="prefAirports" th:value="${airport.id}" th:id="${'airport-' + airport.id}">
        <label th:for="${'airport-' + airport.id}" th:text="${airport.name}"></label>
    </div>
    <br>
    <label>Lokace vysoká preference</label>
    <div th:each="location : ${locations}">
        <input type="checkbox" th:name="highPrefLocs" th:value="${location.id}" th:id="${'location-' + location.id}">
        <label th:for="${'location-' + location.id}" th:text="${location.name}"></label>
    </div>
    <br>
    <label>Lokace mírná preference</label>
    <div th:each="location : ${locations}">
        <input type="checkbox" th:name="prefLocs" th:value="${location.id}" th:id="${'location-' + location.id}">
        <label th:for="${'location-' + location.id}" th:text="${location.name}"></label>
    </div>
    <br><br>
    <label>Nejzazší datum:</label>
    <input type="date" th:name="from" value="2025-06-01"/>
    <br><br>
    <label>Nejpozdější datum:</label>
    <input type="date" th:name="to" value="2025-09-30"/>
    <br><br>
    <button type="submit">Hledat</button>
</form>
</body>
</html>