<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trip List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div th:insert="~{fragments/menu :: menu}"></div>

<h1>Dostupné zájezdy</h1>

<div th:if="${trips.isEmpty()}" class="no-trips">
    Mrzí nás to, ale žádné zájezdy nevyhovují vaším požadavkům.
</div>

<div th:if="${!trips.isEmpty()}">
    <div th:each="trip : ${trips}" style="margin-bottom: 20px;">
        <table style="width: 1500px; table-layout: fixed; border-collapse: collapse;">
            <thead>
            <tr>
                <th>ID</th>
                <th>Cena</th>
                <th>Destinace</th>
                <th>Hotel</th>
                <th>Počet hvězdiček</th>
                <th>Strava</th>
                <th>Letiště</th>
                <th>Vzdálenost pláže</th>
                <th>Vhodné pro rodiny</th>
                <th>Internet na hotelu</th>
                <th>Bazén na hotelu</th>
                <th>Hodnocení</th>
                <th>Datum od</th>
                <th>Datum do</th>
                <th>Počet dní</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${trip.id}">ID</td>
                <td th:text="${trip.price}">Cena</td>
                <td th:text="${trip.location}">Destinace</td>
                <td th:text="${trip.hotel}">Hotel</td>
                <td th:text="${trip.stars}">Počet hvězdiček</td>
                <td th:text="${trip.foodPackage}">Strava</td>
                <td th:text="${trip.airport}">Letiště</td>
                <td th:text="${trip.beachDist}">Vzdálenost pláže</td>
                <td th:text="${trip.familyFriendly ? 'Ano' : 'Ne'}">Vhodné pro rodiny</td>
                <td th:text="${trip.internet ? 'Ano' : 'Ne'}">Internet na hotelu</td>
                <td th:text="${trip.swimmingPool ? 'Ano' : 'Ne'}">Bazén na hotelu</td>
                <td th:text="${trip.averageRating}">Hodnocení</td>
                <td th:text="${trip.dateFrom}">Datum od</td>
                <td th:text="${trip.dateTo}">Datum do</td>
                <td th:text="${trip.days}">Počet dní</td>
            </tr>

            <tr style="width: 1500px;">
                <th>Celkem bodů</th>
                <th>Cena body</th>
                <th>Destinace body</th>
                <th></th>
                <th>Hvězdičky body</th>
                <th>Strava body</th>
                <th>Letiště body</th>
                <th>Pláž body</th>
                <th>Vhodné pro rodiny body</th>
                <th>Internet body</th>
                <th>Bazén body</th>
                <th>Hodnocení body</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>

            <tr style="width: 1500px;">
                <td th:text="${trip.totalScore}">Celkem bodů</td>
                <td class="score-field" th:text="${trip.priceScore}">Cena body</td>
                <td class="score-field" th:text="${trip.locationScore}">Destinace body</td>
                <td></td>
                <td class="score-field" th:text="${trip.starsScore}">Hvězdičky body</td>
                <td class="score-field" th:text="${trip.foodScore}">Strava body</td>
                <td class="score-field" th:text="${trip.airportScore}">Letiště body</td>
                <td class="score-field" th:text="${trip.beachDistScore}">Pláž body</td>
                <td class="score-field" th:text="${trip.familyFriendlyScore}">Rodiny body</td>
                <td class="score-field" th:text="${trip.internetScore}">Internet body</td>
                <td class="score-field" th:text="${trip.swimmingPoolScore}">Bazén body</td>
                <td class="score-field" th:text="${trip.ratingScore}">Hodnocení body</td>
                <td colspan="3">
                    <a th:href="@{/searchByHotel(
                        hotel=${trip.hotelId},
                        maxPrice=${maxPrice},
                        minPrice=${minPrice},
                        priceImp=${priceImp},
                        allInclusivePref=${allInclusivePref},
                        fullBoardPref=${fullBoardPref},
                        halfBoardPref=${halfBoardPref},
                        breakfastPref=${breakfastPref},
                        noFoodPref=${noFoodPref},
                        minFoodPref=${minFoodPref},
                        highPrefAirports=${highPrefAirports},
                        prefAirports=${prefAirports},
                        foodImp=${foodImp},
                        airportImp=${airportImp},
                        persons=${persons},
                        limit=${limit},
                        from=${from},
                        to=${to},
                        minDays=${minDays},
                        maxDays=${maxDays},
                        filterAirports=${filterAirports})}">
                        Vyhledat zájezdy pouze pro tento hotel
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>
